@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(to right top, #040404, #040404, #040404, #040404, #040404); /* Updated background color */
}

.container-fluid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* background-color: #f8f9fa; Set your desired background color */
  padding: 20px;
  text-align: center;
  z-index: 999; /* Ensure the element is on top of other content */
}

.wrapper {
  width: 450px;
  height: 150px;
  background: #fff;
  padding: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.wrapper .input-data {
  height: 40px;
  width: 100%;
  position: relative;
}

.wrapper .input-data input {
  height: 100%;
  width: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid silver;
}

.input-data input:focus ~ label,
.input-data input:valid ~ label {
  transform: translateY(-20px);
  font-size: 15px;
  color: #4158d0;
}

.wrapper .input-data label {
  position: absolute;
  bottom: 10px;
  left: 0;
  color: grey;
  pointer-events: none;
  transition: all 0.3s ease;
}

.input-data .underline {
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0;
}

.input-data .underline:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: #4158d0;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before {
  transform: scaleX(1);
}

.wrapper .input-data button {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background: #040404;
  color: #fff;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

.wrapper .input-data button:hover {
  background: white;
  color: #040404;
}


.copyright {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}
